<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= label_tag :in_url, "Input URL:" %></b> <br />
    http://laura-link-shortener.herokuapp.com/<%= f.text_field :in_url, value: (params[:url] || 'complete the url as you wish'), onfocus:"this.value=''" %>
    
  </div>
  <div class="field">
    <b><%= f.label :out_url, "URL to redirect to:" %><br /></b>
    <%= f.text_field :out_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
